@import "tailwindcss";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ag-header-cell {
  font-weight: bold;
}

.ag-filter .ag-filter-apply-panel {
  gap: 10px;
}

.ag-filter .ag-filter-apply-panel .ag-button {
  margin: 0;
}

@media (max-width: 640px) {
  .ag-paging-page-size {
    display: none;
  }
  .ag-paging-row-summary-panel {
    display: none;
  }
}
